.frameChild {
  width: 1440px;
  height: 599px;
  position: relative;
  background-color: #f5f5f5;
  display: none;
  max-width: 100%;
}
.ourProductsCategories {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.titleIcon {
  width: 122px;
  height: 2px;
  position: relative;
  z-index: 1;
}
.ourProductsCategoriesParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  max-width: 100%;
}
.viewAll {
  position: relative;
  display: inline-block;
  min-width: 88px;
  z-index: 1;
}
.iconWrapperChild {
  width: 9px;
  height: 19px;
  position: relative;
  z-index: 1;
}
.iconWrapper {
  flex-direction: column;
  padding: 4px 0 0;
}
.iconWrapper,
.viewAllButton,
.viewAllLink {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.viewAllLink {
  flex-direction: row;
  gap: 15px;
}
.viewAllButton {
  flex-direction: column;
  padding: 11px 0 0;
  font-size: 22px;
  color: #7e6613;
}
.categoriesHeading,
.categoriesTitle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.categoriesHeading {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.categoriesTitle {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 2px 0 6px;
  box-sizing: border-box;
}
.spicePhotoIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.spice {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 65px;
}
.spiceCategory,
.spicePhotoParent,
.spiceTitle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.spiceTitle {
  flex-direction: row;
  padding: 0 4px;
}
.spiceCategory,
.spicePhotoParent {
  flex-direction: column;
}
.spicePhotoParent {
  align-self: stretch;
  height: 294px;
  gap: 14px;
}
.spiceCategory {
  flex: 0.9615;
  padding: 0 9px 0 0;
  box-sizing: border-box;
  min-width: 229px;
  max-width: 234px;
}
.categoryImageIcon {
  height: 251px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.categoryItem {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 5px;
}
.honey {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 81px;
}
.categoryItemParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  min-width: 225px;
  max-width: 230px;
}
.frameItem {
  height: 251px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.rectangleWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 2px;
}
.groceries {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 113px;
}
.frameParent,
.spiceCategoryParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: 14px;
  min-width: 225px;
  max-width: 227px;
}
.spiceCategoryParent {
  align-self: stretch;
  flex-direction: row;
  gap: 24px;
  z-index: 1;
  font-size: 24px;
}
.categoriesContent {
  width: 1246px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 34px;
  max-width: 100%;
}
.emptyCategoryChild {
  height: 40.9px;
  width: 166.1px;
  position: relative;
  z-index: 1;
}
.emptyCategory,
.rectangleParent {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.emptyCategory {
  width: 1246px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 3px;
}
.rectangleParent {
  margin-left: -3px;
  margin-bottom: 117px;
  align-self: stretch;
  background-color: #f5f5f5;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 26px 60.1px 20px;
  gap: 60px;
  text-align: left;
  font-size: 30px;
  color: #222;
  font-family: Inter;
}
@media screen and (max-width: 1150px) {
  .spiceCategoryParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .ourProductsCategories {
    font-size: 24px;
  }
  .categoriesHeading {
    flex-wrap: wrap;
  }
  .categoriesContent {
    gap: 17px;
  }
  .rectangleParent {
    gap: 30px;
    padding-top: 39px;
    padding-bottom: 39px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .ourProductsCategories,
  .viewAll {
    font-size: 18px;
  }
  .spice {
    font-size: 19px;
  }
  .spiceCategory {
    flex: 1;
  }
  .groceries,
  .honey {
    font-size: 19px;
  }
}
