.productImage {
  width: calc(100% - 4px);
  height: 90.2px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 4px;
  left: 0;
  background-color: #081808;
}
.icon {
  width: 20.9px;
  height: 29.6px;
  position: relative;
}
.deliveryIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2.2px;
}
.deliveryAddress,
.noida201301 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  white-space: nowrap;
}
.deliveryAddress {
  font-weight: 300;
  min-width: 95px;
  flex-shrink: 0;
}
.noida201301 {
  font-weight: 600;
  min-width: 107px;
}
.pincodeIcon {
  width: 9.4px;
  height: 5.3px;
  position: relative;
}
.pincodeIconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 6.8px;
}
.location {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 7.7px;
  flex-shrink: 0;
  font-size: 16px;
}
.deliveryAddressParent {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8px;
}
.deliveryAddressParent,
.deliveryIconParent,
.frameWrapper {
  display: flex;
  justify-content: flex-start;
}
.deliveryIconParent {
  flex-direction: row;
  align-items: flex-end;
  gap: 12px;
  flex-shrink: 0;
  z-index: 1;
}
.frameWrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: 2.9px 0 0;
}
.searchBox {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.searchByProduct {
  text-decoration: none;
  position: relative;
  color: inherit;
  white-space: nowrap;
  z-index: 1;
}
.searchByProductWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12.3px 0 0;
}
.searchBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 4px 4px 0;
  background-color: #7fcb2d;
}
.searchIcon {
  position: absolute;
  height: 45.39%;
  width: 34.43%;
  top: 27.19%;
  right: 32.87%;
  bottom: 27.42%;
  left: 32.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.searchBackgroundParent {
  height: 43.4px;
  width: 57.8px;
  position: relative;
  z-index: 1;
}
.searchBoxParent {
  height: 43.6px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.2px 1px 12.1px 20px;
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  max-width: 100%;
  gap: 20px;
}
.bellIcon,
.countCircle {
  position: absolute;
  bottom: 0;
  left: 0;
}
.bellIcon {
  height: 84.35%;
  width: 87.84%;
  top: 15.65%;
  right: 12.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.countCircle {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: #7fcb2d;
}
.count,
.countCircleParent {
  position: absolute;
  z-index: 1;
}
.count {
  text-decoration: none;
  height: 55.3%;
  width: 31.96%;
  top: 22.58%;
  left: 36.53%;
  color: inherit;
  display: inline-block;
  min-width: 7px;
}
.countCircleParent {
  height: 53.06%;
  width: 66.57%;
  top: 0;
  right: 0;
  bottom: 46.94%;
  left: 33.43%;
}
.bellIconParent {
  height: 40.9px;
  width: 32.9px;
  position: relative;
}
.cartCountCircle,
.frameChild {
  position: absolute;
  bottom: 0;
  left: 0;
}
.frameChild {
  height: 90.11%;
  width: 82.01%;
  top: 9.89%;
  right: 17.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cartCountCircle {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: #7fcb2d;
}
.cartItemNumber {
  text-decoration: none;
  position: absolute;
  top: 23.04%;
  left: 36.07%;
  color: inherit;
  display: inline-block;
  min-width: 6px;
  z-index: 1;
}
.cartCountCircleParent {
  position: absolute;
  height: 58.02%;
  width: 56.3%;
  top: 0;
  right: 0;
  bottom: 41.98%;
  left: 43.7%;
  z-index: 1;
}
.frameContainer {
  align-self: stretch;
  height: 37.4px;
  position: relative;
}
.cart {
  width: 38.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 1.6px;
  box-sizing: border-box;
  font-size: 9.3px;
}
.profileOptions {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 20px;
}
.profileOptionsWrapper {
  width: 117.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
  box-sizing: border-box;
  font-size: 9.5px;
  color: #000;
}
.logo1Child,
.logo1Inner,
.logo1Item {
  position: absolute;
  width: 69.9px;
  height: 69.1px;
  display: none;
}
.logo1Inner {
  width: 30.4px;
  height: 32.2px;
}
.subtractIcon {
  position: relative;
  width: 98.6px;
  height: 20.3px;
}
.frameInner,
.frameItem {
  position: absolute;
  height: 11.54%;
  width: 99.29%;
  top: 86.06%;
  right: 0.3%;
  bottom: 2.4%;
  left: 0.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameInner {
  width: 100%;
  top: 0;
  right: 0;
  bottom: 88.46%;
  left: 0;
}
.span {
  color: #000;
}
.roots {
  color: #542c16;
}
.grassRoots {
  position: absolute;
  top: 3.85%;
  left: 5.01%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  white-space: nowrap;
}
.vectorParent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0.3%;
  bottom: 0;
  left: 0.41%;
}
.logo1,
.nexbloomlogoChild,
.subtractParent {
  position: absolute;
  width: 98.6px;
  height: 20.8px;
  display: none;
}
.logo1,
.nexbloomlogoChild {
  width: 0;
  height: 0;
}
.nexbloomlogoChild {
  background-color: #fff;
  width: 59.2px;
  height: 7.3px;
}
.marketplace {
  position: absolute;
  font-size: 4.9px;
  letter-spacing: 0.47em;
  text-transform: capitalize;
  font-weight: 600;
  font-family: Poppins;
  color: #7d8800;
  display: none;
}
.nexbloomlogo {
  height: 0;
  width: 0;
  position: relative;
  display: none;
  font-size: 13.7px;
  color: #55b80d;
  font-family: "Fugaz One";
}
.frameGroup,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameGroup {
  flex: 1;
  gap: 140.4px;
  flex-shrink: 0;
  z-index: 1;
  font-size: 16px;
  color: #a9a9a9;
}
.frameParent {
  width: 988.4px;
  padding: 0 4px 0 0;
  box-sizing: border-box;
  gap: 66.3px;
}
.login {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.button {
  border-radius: 4px;
  background-color: #7e6613;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 30px;
  z-index: 1;
  font-size: 16px;
  color: #fafafa;
}
.groupIcon {
  width: 31px;
  height: 23.3px;
  position: relative;
  z-index: 1;
}
.productDetailsInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 10.1px;
}
.productDetails,
.productDetailsWrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.productDetails {
  align-items: flex-end;
  justify-content: flex-start;
  gap: 42.7px;
}
.productDetailsWrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 1px;
  box-sizing: border-box;
}
.navigationBackground {
  height: 54px;
  width: 3000px;
  position: absolute;
  margin: 0 !important;
  right: -331.6px;
  bottom: -19.5px;
  background-color: #eae1c1;
}
.categories,
.home {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 46px;
}
.categories {
  min-width: 86px;
}
.vectorIcon {
  width: 9.4px;
  height: 5.3px;
  position: relative;
}
.linkIcons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 4.2px;
}
.categoriesParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 5px;
}
.products,
.vectorIcon1 {
  position: relative;
  flex-shrink: 0;
}
.products {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.vectorIcon1 {
  width: 9.4px;
  height: 5.3px;
}
.vectorWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 4.2px;
}
.navigationItems,
.productsParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 8.1px;
}
.navigationItems {
  margin: 0;
  align-items: flex-start;
  gap: 59.7px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #222;
  font-family: Inter;
}
.licenseCertificate {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}
.licenseCertificateWrapper {
  height: 20px;
  width: 162px;
  position: relative;
  display: none;
}
.brands {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 55px;
}
.blog,
.positiveVibesEntertainment {
  align-self: stretch;
  width: 35px;
  position: relative;
  font-weight: 600;
  display: none;
  align-items: center;
}
.positiveVibesEntertainment {
  width: 225px;
  white-space: nowrap;
}
.navigationItemsParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  z-index: 1;
}
.navigation,
.productImageParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.navigation {
  width: 1145px;
  flex-direction: row;
  font-size: 16px;
  color: #222;
}
.productImageParent {
  margin-top: -169px;
  align-self: stretch;
  flex-direction: column;
  padding: 23.4px 40px 17.5px 39px;
  box-sizing: border-box;
  gap: 37.1px;
  text-align: left;
  font-size: 12px;
  color: #fff;
  font-family: Inter;
}
.account {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  color: inherit;
  display: inline-block;
  min-width: 40px;
}
.separatorIcon {
  height: 11.7px;
  width: 6px;
  position: absolute;
  margin: 0 !important;
  top: 4.6px;
  left: 52px;
  object-fit: contain;
}
.nothing {
  align-self: stretch;
  width: 154px;
  line-height: 21px;
  z-index: 2;
}
.nothing,
.nothing1,
.roadmapChild {
  position: relative;
  display: none;
}
.roadmapChild {
  height: 11.7px;
  width: 6px;
  object-fit: contain;
  z-index: 3;
}
.nothing1 {
  align-self: stretch;
  width: 55px;
  line-height: 21px;
  font-family: Poppins;
  color: #000;
  opacity: 0.5;
  z-index: 4;
}
.roadmapItem {
  height: 11.7px;
  width: 6px;
  object-fit: contain;
  z-index: 5;
}
.nothing2,
.roadmapInner,
.roadmapItem {
  position: relative;
  display: none;
}
.nothing2 {
  align-self: stretch;
  width: 68px;
  line-height: 21px;
  font-family: Poppins;
  color: #000;
  opacity: 0.5;
  z-index: 6;
}
.roadmapInner {
  height: 11.7px;
  width: 6px;
  object-fit: contain;
  z-index: 7;
}
.nothing3 {
  position: relative;
  line-height: 21px;
  font-weight: 500;
  color: #222;
  display: inline-block;
  min-width: 91px;
}
.orderDetailsHeader,
.roadmap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.roadmap {
  position: relative;
  gap: 30px;
}
.orderDetailsHeader {
  padding: 0 0 18px;
  color: #727272;
}
.orderDetails {
  margin: 0;
  position: relative;
  font-size: 30px;
  font-weight: 700;
  font-family: inherit;
}
.rectangleDiv {
  width: 703px;
  height: 346px;
  position: relative;
  border-radius: 20px;
  background-color: #f5f5f5;
  display: none;
  max-width: 100%;
}
.span1 {
  color: #7fcb2d;
}
.span2 {
  color: #222;
}
.i,
.order {
  font-weight: 500;
}
.i {
  color: #d9ac5d;
}
.order98653214578899865Container {
  position: relative;
  line-height: 181%;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.titleSeparator {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #c4c4c4;
  box-sizing: border-box;
  z-index: 1;
}
.orderTitle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  max-width: 100%;
}
.itemDetailsIcon {
  height: 172px;
  width: 168px;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
  z-index: 1;
}
.milk,
.qty1 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.milk {
  margin: 0;
  font-size: inherit;
  letter-spacing: 0.03em;
  line-height: 24px;
  font-weight: 600;
  font-family: inherit;
  min-width: 60px;
}
.qty1 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #727272;
  min-width: 49px;
}
.itemNameAndQuantity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.itemPrice {
  position: relative;
  font-size: 22px;
  letter-spacing: 0.03em;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 91px;
  white-space: nowrap;
  z-index: 1;
}
.itemInfo {
  flex-direction: column;
  gap: 24px;
  min-width: 91px;
}
.itemInfo,
.orderItemsDetails,
.orderSummary {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.orderItemsDetails {
  align-self: stretch;
  flex-direction: row;
  gap: 40px;
}
.orderSummary {
  width: 299px;
  flex-direction: column;
  padding: 0 0 43px;
  box-sizing: border-box;
  min-width: 299px;
  min-height: 215px;
}
.frameChild1 {
  height: 45px;
  width: 167px;
  position: relative;
  border-radius: 8px;
  border: 1px solid #7e6613;
  box-sizing: border-box;
  display: none;
}
.cancel {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 54px;
  z-index: 1;
}
.rectangleGroup {
  border-radius: 8px;
  border: 1px solid #7e6613;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11px 56px 11px 57px;
  z-index: 1;
  font-size: 16px;
  color: #7e6613;
}
.orderDetails1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 28px;
}
.rectangleParent {
  align-self: stretch;
  border-radius: 20px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 22px 24px 28px;
  box-sizing: border-box;
  gap: 30px;
  max-width: 100%;
  text-align: right;
}
.downloadInvoice {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.downloadIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button1 {
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #7e6613;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 20px;
  gap: 10px;
  font-size: 16px;
  color: #7e6613;
}
.frameChild2 {
  width: 703px;
  height: 404px;
  position: relative;
  border-radius: 20px;
  background-color: #f5f5f5;
  display: none;
  max-width: 100%;
}
.shippingDetails,
.sujeetKumarSingh {
  position: relative;
  z-index: 1;
}
.sujeetKumarSingh {
  font-weight: 600;
}
.phase2Industrial,
.phoneNumber919889653254,
.uttarPradesh201309 {
  margin: 0;
}
.phase2IndustrialContainer {
  position: relative;
  line-height: 173%;
  font-weight: 500;
  z-index: 1;
}
.payment {
  font-weight: 500;
}
.paymentUpiContainer {
  position: relative;
  line-height: 156.8%;
  z-index: 1;
}
.addressAndPayment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 59px;
  font-size: 22px;
}
.shippingAddress {
  gap: 20px;
}
.orderItems,
.rectangleContainer,
.shippingAddress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangleContainer {
  align-self: stretch;
  border-radius: 20px;
  background-color: #f5f5f5;
  padding: 39px 24px 29px;
  box-sizing: border-box;
  gap: 51px;
  font-size: 24px;
}
.orderItems {
  flex: 1;
  gap: 23px;
  min-width: 457px;
}
.rectangleIcon {
  width: 494px;
  height: 440px;
  position: relative;
  border-radius: 20px;
  display: none;
  max-width: 100%;
}
.orderStatus,
.statusIconsChild {
  position: relative;
  z-index: 1;
}
.statusIconsChild {
  width: 20px;
  flex: 1;
  max-height: 100%;
}
.statusIcons {
  height: 303px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px 0 0;
  box-sizing: border-box;
}
.mon04042023,
.ordered {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.ordered {
  font-weight: 600;
  min-width: 72px;
}
.mon04042023 {
  min-width: 120px;
}
.orderStatusLabels,
.statusDate {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.statusDate {
  flex-direction: row;
  padding: 0 0 0 1px;
  font-size: 14px;
  color: #727272;
}
.orderStatusLabels {
  flex-direction: column;
}
.shipped,
.wed05042023 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.shipped {
  font-weight: 600;
  min-width: 72px;
}
.wed05042023 {
  min-width: 120px;
}
.orderStatusLabels1,
.wed05042023Wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wed05042023Wrapper {
  flex-direction: row;
  padding: 0 0 0 1px;
  font-size: 14px;
  color: #727272;
}
.orderStatusLabels1 {
  flex-direction: column;
  padding: 0 0 15px;
  gap: 1px;
}
.outForDelivery1 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.outForDelivery {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 13px;
}
.delivered {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 83px;
  z-index: 1;
}
.orderStatusLabelsParent,
.statusSteps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 53px;
}
.statusSteps {
  flex-direction: row;
  gap: 16px;
}
.itemYetTo {
  position: relative;
  z-index: 1;
}
.pendingDeliveryStatus {
  flex-direction: row;
  padding: 0 0 0 37px;
  font-size: 14px;
  color: #727272;
}
.orderStatusContent,
.pendingDeliveryStatus,
.statusStepsParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.statusStepsParent {
  flex-direction: column;
  gap: 1px;
}
.orderStatusContent {
  flex-direction: row;
  padding: 0 9px;
  font-size: 18px;
}
.frameChild3,
.vectorGroup {
  border-radius: 20px;
  background-color: #f5f5f5;
  max-width: 100%;
}
.vectorGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 24px 35px;
  box-sizing: border-box;
  gap: 24px;
}
.frameChild3 {
  width: 494px;
  height: 373px;
  position: relative;
  display: none;
}
.billDetails,
.cannabisOil {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.billDetails {
  font-size: 24px;
  min-width: 123px;
}
.cannabisOil {
  min-width: 119px;
}
.discount {
  display: inline-block;
  min-width: 84px;
}
.discount,
.donation,
.shippingCharge,
.tax {
  position: relative;
  z-index: 1;
}
.donation,
.tax {
  display: inline-block;
  min-width: 34px;
}
.donation {
  min-width: 85px;
}
.billItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.div {
  min-width: 79px;
  white-space: nowrap;
}
.div,
.div1,
.div2,
.div3,
.div4 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.div1 {
  color: #f33;
  min-width: 79px;
}
.div2,
.div3,
.div4 {
  min-width: 66px;
  white-space: nowrap;
}
.div3,
.div4 {
  min-width: 53px;
}
.billItems1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 20px;
  text-align: right;
  color: #222;
}
.billItemsList {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  color: #727272;
}
.subtotalDivider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #c4c4c4;
  box-sizing: border-box;
  z-index: 1;
}
.subTotal {
  position: relative;
  display: inline-block;
  min-width: 89px;
  z-index: 1;
}
.subtotalValueContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.5px 0 0;
}
.subtotalAmount {
  position: relative;
  font-size: 24px;
  display: inline-block;
  text-align: right;
  min-width: 96px;
  white-space: nowrap;
  z-index: 1;
}
.subtotalValueContainerParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.groupDiv,
.subtotalDividerParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.subtotalDividerParent {
  justify-content: flex-start;
  gap: 13px;
}
.groupDiv {
  border-radius: 20px;
  background-color: #f5f5f5;
  padding: 24px 24px 26px;
  box-sizing: border-box;
  gap: 25.5px;
  max-width: 100%;
  font-size: 20px;
}
.frameDiv,
.groupDiv,
.orderContent {
  justify-content: flex-start;
}
.frameDiv {
  width: 494px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
  min-width: 494px;
  max-width: 100%;
  font-size: 24px;
}
.orderContent {
  align-self: stretch;
  flex-direction: row;
  gap: 43px;
  font-size: 20px;
}
.content,
.orderContent,
.orderDetailsHeaderParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.orderDetailsHeaderParent {
  width: 1240px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 21px;
}
.content {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: 14px;
  color: #222;
  font-family: Inter;
}
.nexbloomslogoIcon {
  width: 85px;
  height: 70px;
  position: absolute;
  margin: 0 !important;
  top: 6px;
  left: 32px;
  object-fit: contain;
  z-index: 2;
}
.footerBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #542c16;
}
.logo1Child1,
.logo1Child2,
.logo1Child3 {
  position: absolute;
  height: 100%;
  width: 70.88%;
  top: 0;
  right: 14.47%;
  bottom: 0;
  left: 14.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo1Child3 {
  height: 46.61%;
  width: 30.87%;
  top: 2.15%;
  right: 34.5%;
  bottom: 51.24%;
  left: 34.62%;
}
.subtractIcon1 {
  position: relative;
  width: 170.7px;
  height: 35.6px;
}
.frameChild4,
.frameChild5 {
  position: absolute;
  height: 11.81%;
  width: 99.24%;
  top: 85.99%;
  right: 0.41%;
  bottom: 2.2%;
  left: 0.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameChild5 {
  width: 100%;
  top: 0;
  right: 0;
  bottom: 88.19%;
  left: 0;
}
.span3 {
  color: #000;
}
.roots1 {
  color: #542c16;
}
.grassRoots1 {
  position: absolute;
  top: 3.85%;
  left: 5.08%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.logo11,
.subtractGroup,
.vectorContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0.41%;
  bottom: 0;
  left: 0.35%;
}
.logo11,
.subtractGroup {
  height: 30.08%;
  top: 41.16%;
  right: 0;
  bottom: 28.76%;
  left: 0;
}
.logo11 {
  height: 100%;
  top: 0;
  bottom: 0;
}
.logo3Child,
.marketplace1 {
  position: absolute;
  top: 64.71%;
}
.logo3Child {
  height: 10.58%;
  width: 60.05%;
  right: 20.33%;
  bottom: 24.71%;
  left: 19.63%;
  background-color: #fff;
}
.marketplace1 {
  left: 20.45%;
  font-size: 8.4px;
  letter-spacing: 0.47em;
  text-transform: capitalize;
  font-weight: 600;
  font-family: Poppins;
  color: #7d8800;
}
.logo3 {
  height: 121px;
  width: 170.7px;
  position: relative;
  display: none;
}
.contactInformation {
  position: relative;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
}
.frameIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frameFrame {
  position: absolute;
  height: 100%;
  width: 11.61%;
  top: 0;
  right: 88.39%;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px;
  box-sizing: border-box;
}
.demograssroutescom {
  position: absolute;
  width: 83.23%;
  top: 16.67%;
  left: 16.77%;
  display: inline-block;
  white-space: nowrap;
}
.frameParent2 {
  width: 310px;
  height: 36px;
  position: relative;
  display: none;
}
.contactPlaceholderIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.contactPlaceholder {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px;
}
.xxXxxxxXxxxx {
  position: relative;
}
.xxXxxxxXxxxxWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
}
.contactPlaceholderParent {
  flex-direction: row;
  gap: 12px;
}
.contactInformationParent,
.contactPlaceholderParent,
.frameWrapper1,
.logo3Parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contactInformationParent {
  flex-direction: column;
  gap: 68px;
  font-size: 20px;
  color: #fff;
  font-family: Inter;
}
.frameWrapper1,
.logo3Parent {
  flex-direction: row;
}
.frameWrapper1 {
  width: 294px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 12px;
  box-sizing: border-box;
}
.footerNavigationDividerChild {
  width: 1px;
  flex: 1;
  position: relative;
  max-height: 100%;
}
.footerNavigationDivider {
  height: 293px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5px;
  box-sizing: border-box;
}
.overview {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  min-width: 111px;
}
.overviewIcon {
  height: 2px;
  width: 63px;
  position: relative;
}
.overviewIconContainer,
.overviewParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px;
}
.overviewParent {
  height: 34px;
  flex-direction: column;
  padding: 0 0 5px;
  box-sizing: border-box;
  gap: 5px;
}
.aboutUs,
.home1 {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
}
.home1 {
  display: inline-block;
  min-width: 57px;
}
.aboutUs {
  min-width: 89px;
}
.aboutUs,
.blogs,
.contactUs {
  display: inline-block;
}
.contactUs {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
  min-width: 108px;
}
.blogs {
  min-width: 54px;
}
.blogs,
.privacyPolicy,
.termsConditions {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
}
.frameParent4,
.homeParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.homeParent {
  gap: 16px;
  font-size: 20px;
}
.frameParent4 {
  gap: 25px;
  min-width: 187px;
}
.categories1 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  min-width: 128px;
}
.categoryLinkIcon {
  height: 2px;
  width: 63px;
  position: relative;
}
.categoriesGroup,
.categoryLinkIcons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px;
}
.categoriesGroup {
  height: 34px;
  flex-direction: column;
  padding: 0 0 5px;
  box-sizing: border-box;
  gap: 5px;
}
.brands1,
.cultivation,
.deliveries,
.dispensaries,
.manufacturing {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
}
.brands1,
.deliveries {
  display: inline-block;
  min-width: 94px;
}
.brands1 {
  min-width: 68px;
}
.dispensariesParent,
.frameParent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dispensariesParent {
  align-self: stretch;
  gap: 16px;
  font-size: 20px;
}
.frameParent6 {
  flex: 1;
  gap: 25px;
  min-width: 142px;
}
.products1 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  min-width: 105px;
}
.frameChild6 {
  height: 2px;
  width: 63px;
  position: relative;
}
.productsGroup,
.vectorFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px;
}
.productsGroup {
  height: 34px;
  flex-direction: column;
  padding: 0 0 5px;
  box-sizing: border-box;
  gap: 5px;
}
.flowers,
.vapePens {
  display: inline-block;
}
.flowers {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
  min-width: 65px;
}
.vapePens {
  min-width: 123px;
}
.concentrates,
.edibles,
.preRolls,
.vapePens {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
}
.edibles {
  display: inline-block;
  min-width: 93px;
}
.flowersParent,
.frameParent5,
.frameParent7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.flowersParent {
  gap: 16px;
  font-size: 20px;
}
.frameParent5,
.frameParent7 {
  gap: 25px;
  min-width: 187px;
}
.frameParent5 {
  width: 453px;
  flex-direction: row;
  gap: 47px;
  min-width: 453px;
  max-width: 100%;
}
.frameParent3 {
  width: 791px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  font-size: 24px;
  color: #fff;
  font-family: Inter;
}
.footerContentInner,
.frameParent1,
.frameParent3 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frameParent1 {
  align-items: flex-end;
  justify-content: flex-start;
  gap: 67px;
  z-index: 1;
}
.footerContentInner {
  width: 1422px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.footerBackgroundCurve {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.footerContent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 49.5px;
  max-width: 100%;
}
.copyright2023 {
  width: 549px;
  position: relative;
  line-height: 140%;
  font-weight: 500;
  display: none;
  max-width: 100%;
}
.iconJamIconsOutlineL,
.iconJamIconsOutlineL1,
.iconJamIconsOutlineL2,
.iconJamIconsOutlineL3,
.iconJamIconsOutlineL4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.iconJamIconsOutlineLParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.socialMediaIconsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 7px;
}
.appStoreFilled {
  align-self: stretch;
  height: 39px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.button2 {
  width: 116.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
}
.googlePlayIconSet,
.googlePlayIconSet1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.googlePlayIconSet1 {
  z-index: 1;
}
.googlePlayBadge {
  width: 10.8px;
  height: 20.9px;
  position: relative;
  z-index: 4;
}
.googlePlayBadgeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 3.2px;
}
.vectorIcon2,
.vectorIcon3 {
  position: absolute;
  margin: 0 !important;
}
.vectorIcon2 {
  height: 13.1px;
  width: 15.8px;
  bottom: 7px;
  left: 9.8px;
  z-index: 2;
}
.vectorIcon3 {
  height: 10.8px;
  width: 12.2px;
  top: calc(50% - 5.4px);
  left: 20px;
  z-index: 3;
}
.getItOn,
.vectorIcon4 {
  position: relative;
  z-index: 2;
}
.getItOn {
  display: inline-block;
  -webkit-text-stroke: 0.2px #fff;
  min-width: 39px;
}
.vectorIcon4 {
  align-self: stretch;
  height: 16.5px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.getItOnParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.1px;
}
.vectorIcon5 {
  height: 12.5px;
  width: 15.9px;
  position: absolute;
  margin: 0 !important;
  top: 7px;
  left: 9.8px;
  z-index: 5;
}
.googlePlay {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 4.5px 9px 5.9px;
  position: relative;
  gap: 19.3px;
}
.button3 {
  flex: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.button3,
.buttonParent,
.copyright2023GrassRootMaParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.buttonParent {
  flex: 1;
  align-items: flex-start;
  gap: 15.6px;
  min-width: 172px;
  font-size: 8.2px;
  font-family: "Open Sans";
}
.copyright2023GrassRootMaParent {
  width: 479px;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 31.1px;
  max-width: 100%;
  z-index: 1;
}
.footerBackgroundParent,
.frameWrapper2 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.frameWrapper2 {
  width: 679px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  font-size: 18px;
  color: #fff;
  font-family: Inter;
}
.footerBackgroundParent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 66px 0 17px;
  position: relative;
  gap: 22.5px;
  color: #55b80d;
  font-family: "Fugaz One";
}
.nexbloomslogoIcon1 {
  width: 206px;
  height: 173px;
  position: absolute;
  margin: 0 !important;
  top: 37px;
  left: 104px;
  object-fit: contain;
  z-index: 2;
}
.frameIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frameWrapper3 {
  bottom: 183px;
  left: 104px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px;
}
.copyright2024,
.demonexbloomscom,
.frameWrapper3 {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.demonexbloomscom {
  width: 258px;
  bottom: 189px;
  left: 156px;
  font-size: 20px;
  display: inline-block;
  white-space: nowrap;
}
.copyright2024 {
  bottom: 23px;
  left: 89px;
  font-size: 18px;
  line-height: 140%;
  font-weight: 500;
}
.instanceParent,
.orderHistory {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.instanceParent {
  align-self: stretch;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: 23.6px;
  color: #fff;
  font-family: Inter;
}
.orderHistory {
  width: 100%;
  height: 1660px;
  background-color: #fff;
  overflow: hidden;
  padding: 168px 0 0;
  box-sizing: border-box;
  gap: 27px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .navigationItems {
    display: none;
  }
  .frameParent1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1150px) {
  .frameParent {
    gap: 33px;
  }
  .frameDiv {
    flex: 1;
  }
  .orderContent {
    flex-wrap: wrap;
  }
  .orderHistory {
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .frameGroup {
    gap: 70px;
  }
  .frameParent {
    gap: 17px;
  }
  .productDetails {
    gap: 21px;
  }
  .productImageParent {
    gap: 19px;
  }
  .orderDetails {
    font-size: 24px;
  }
  .orderSummary {
    flex: 1;
  }
  .orderDetails1 {
    flex-wrap: wrap;
  }
  .rectangleParent {
    gap: 15px;
  }
  .addressAndPayment {
    gap: 29px;
  }
  .rectangleContainer {
    gap: 25px;
  }
  .frameDiv,
  .orderItems {
    min-width: 100%;
  }
  .orderContent {
    gap: 21px;
  }
  .frameParent4 {
    flex: 1;
  }
  .frameParent5 {
    flex: 1;
    min-width: 100%;
  }
  .frameParent3 {
    flex-wrap: wrap;
  }
  .frameParent1 {
    gap: 33px;
  }
  .footerContent {
    gap: 25px;
  }
  .copyright2023GrassRootMaParent {
    gap: 16px;
  }
  .footerBackgroundParent {
    padding-top: 43px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frameGroup {
    gap: 35px;
  }
  .navigationItems {
    gap: 30px;
  }
  .orderDetails {
    font-size: 18px;
  }
  .order98653214578899865Container {
    font-size: 16px;
    line-height: 29px;
  }
  .itemDetailsIcon {
    flex: 1;
  }
  .itemPrice,
  .milk {
    font-size: 22px;
    line-height: 19px;
  }
  .itemPrice {
    font-size: 18px;
  }
  .itemInfo {
    flex: 1;
  }
  .orderItemsDetails {
    flex-wrap: wrap;
    gap: 20px;
  }
  .shippingDetails,
  .sujeetKumarSingh {
    font-size: 19px;
  }
  .phase2IndustrialContainer {
    font-size: 18px;
    line-height: 30px;
  }
  .paymentUpiContainer {
    font-size: 18px;
    line-height: 28px;
  }
  .rectangleContainer {
    padding-top: 25px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .orderStatus {
    font-size: 19px;
  }
  .vectorGroup {
    padding-top: 20px;
    padding-bottom: 23px;
    box-sizing: border-box;
  }
  .billDetails {
    font-size: 19px;
  }
  .cannabisOil,
  .discount,
  .div,
  .div1,
  .div2,
  .div3,
  .div4,
  .donation,
  .shippingCharge,
  .tax {
    font-size: 16px;
  }
  .billItemsList {
    flex-wrap: wrap;
  }
  .subTotal {
    font-size: 16px;
  }
  .subtotalAmount {
    font-size: 19px;
  }
  .subtotalValueContainerParent {
    flex-wrap: wrap;
  }
  .groupDiv {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .contactInformation,
  .grassRoots1 {
    font-size: 19px;
  }
  .demograssroutescom,
  .xxXxxxxXxxxx {
    font-size: 16px;
  }
  .overview {
    font-size: 19px;
  }
  .aboutUs,
  .blogs,
  .contactUs,
  .home1,
  .privacyPolicy,
  .termsConditions {
    font-size: 16px;
  }
  .categories1 {
    font-size: 19px;
  }
  .brands1,
  .cultivation,
  .deliveries,
  .dispensaries,
  .manufacturing {
    font-size: 16px;
  }
  .products1 {
    font-size: 19px;
  }
  .concentrates,
  .edibles,
  .flowers,
  .preRolls,
  .vapePens {
    font-size: 16px;
  }
  .frameParent7 {
    flex: 1;
  }
  .frameParent5 {
    flex-wrap: wrap;
    gap: 23px;
  }
  .frameParent1 {
    gap: 17px;
  }
  .demonexbloomscom {
    font-size: 16px;
  }
}
